@model SaccoShareManagementSys.Models.Shareholder?
@{
    ViewData["Title"] = "My Profile";
    Layout = "_Layout";
}

<h3>Profile</h3>

@if (Model == null)
{
    <p class="text-muted">Profile data not provided by controller. Implement a controller action to pass the Shareholder model.</p>
}
else
{
    <dl class="row">
        <dt class="col-sm-3">Full name</dt>
        <dd class="col-sm-9">@Model.FullName</dd>

        <dt class="col-sm-3">Phone</dt>
        <dd class="col-sm-9">@Model.Phone</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>
    </dl>

    <a class="btn btn-primary" href="/Member/EditProfile">Edit Profile</a>
}