@page
@model ForgotPasswordModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Forgot Password";
}

<h4>FORGOT PASSWORD</h4>

<form method="post">
    <div class="mb-3 input-group">
        <span class="input-group-text">
            <i class="bi bi-envelope-fill"></i>
        </span>
        <input asp-for="Input.Email" class="form-control" placeholder="Enter your Email" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-login">RESET PASSWORD</button>
    <a asp-page="./Login" class="btn btn-register d-block text-center">BACK TO LOGIN</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}